# ==========================
# Python (香橙派) 垃圾文件
# ==========================
__pycache__/
*.py[cod]
*$py.class
.vscode/

# ==========================
# Keil / STM32 编译垃圾文件
# (这些是重灾区，一定要屏蔽！)
# ==========================
*.o
*.d
*.crf
*.htm
*.dep
*.axf
*.lnp
*.bak
*.lst
*.map
*.iex
*.pbi
*.build_log.htm
RTE/
Debug/
Release/
settings/
Objects/
Listings/

# ==========================
# Windows 系统垃圾
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# 3D 软件临时文件 (机械部分)
# ==========================
~$*
*.sldprt.bak